$textSize: 16px;
$titleSize: 21px;

$textColor: #111;
$textSecondColor: #111;
$textTitleColor: #111;
$linkColor: #111;
$linkActiveColor: #0074bf;
$backgroundColor: #dddddd;
$borderColor: #ececec;
$articleTextColor: #111;
$textareaBgColor: #fff;
$commentPrimaryColor: #6190e8;
$commentBorderColor: #dfe2e5;
$popupBgColor: #fff;
$commentBtnBgColor: #fff;
$commentBtnBorderColor: #6190e8;
$commentBtnColor: #6190e8;
$commentPrimaryBtnBgColor: #6190e8;
$commentPrimaryBtnBorderColor: #6190e8;
$commentPrimaryBtnColor: #fff;
$postLinkColor: #111;
$infoColor: #060606;
$switchBgColor: #395b64;
$imgBgColor: #eeedeb;
$captionBgColor: #f6f8fa;
$codeColor: #eb5757;
$codeBgColor: rgba(135, 131, 120, 0.15);

$textColorDark: #b4abbd;
$textSecondColorDark: #b4abbd;
$textTitleDark: #b4abbd;
$linkActiveColorDark: #a9b1d6;
$linkColorDark: #b4abbd;
$backgroundColorDark: #332F35;
$borderColorDark: #4b4b4b;
$textareaBgDark: #b4abbd;
$commentPrimaryDark: #1565c0;
$commentBorderDark: #717374;
$popupBgDark: #3a3636;
$commentBtnBgDark: #4c4c4c;
$commentBtnBorderDark: transparent;
$commentBtnDark: #a0a0a0;
$commentPrimaryBtnBgDark: #4c4c4c;
$commentPrimaryBtnBorderDark: transparent;
$commentPrimaryBtnDark: #d2d2d2;
$postLinkDark: #b4abbd;
$infoDark: #b4abbd;
$switchBgDark: #333333;
$imgBgDark: #616364;
$captionBgDark: #1a1b26;
$codeDark: #b8a4a4;
$codeBgDark: #303536;
